.Card-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.btnload {
  width: 300px;
  margin: 20px auto 20px auto;
}

.container-card {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}