.Card-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.btnload {
  width: 300px;
  margin: 20px auto 20px auto;
}

.container-card {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  margin-top: 60px;
}

.filtering {
  width: 100%;
  background-image: url('../img/cowork.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.select-city {
  width: 500px;
  margin-top: 30px;
}