.signUpForm {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 80%;
  align-items: center;
}

.login-btn {
  background-color:#1EBE73;
  color: white;
}