@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.app {
  margin: 0;
  padding: 0;
}

.navigation-bar {
  height: 50px;
  width: 100%;
  border-bottom: solid 1px rgb(202, 202, 202);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-bar ul {
  flex-direction: column;
  display: flex;
  flex-direction: row;
}

.navigation-bar ul li {
  list-style-type: none;
  margin-left: 10px;
  text-decoration: none;
}

.navigation-bar a {
  color: #1ebe73;
  cursor: pointer;
  font-family: 'Montserrat';
}

a:hover {
  background-color: #1ebe73;
  color: white;
}
